<%- include('partials/header'); -%>


<h1>BIODATA USER</h1>



<h2>Nama User : <%= a.username %></h2>
<p>Password : <%= a.password %></p>
<P>Hobby : </P>
<p>Game : </p>
<p>Wallet : </p>











<%- include('partials/footer'); -%>