<%- include('partials/header'); -%>


<h1>USER HISTORY</h1>



<h2>Nama User : <%= a.username %></h2>
<p>Password : <%= a.password %></p>
<p>Waktu : </p>
<p>Score : </p>












<%- include('partials/footer'); -%>